.body {
    height: 112vh;
    background-color: #15171b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Login {
    height: 500px;
    width: 400px;
    border: 1px solid #5e848b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 350px;
box-shadow: rgba(94,132,139, 0.4) 5px 5px, rgba(94,132,139, 0.3) 10px 10px, rgba(94,132,139, 0.2) 15px 15px, rgba(94,132,139, 0.1) 20px 20px, rgba(94,132,139, 0.05) 25px 25px;}

.username {
    margin-top: 100px;
    box-shadow: rgba(94,132,139, 0.45) 0px 25px 20px -20px;
}
.password {
    margin-top: 40px;
    box-shadow: rgba(94,132,139, 0.45) 0px 25px 20px -20px;
}
.button{
    margin-top: 40px;
    box-shadow: rgba(94,132,139, 0.484) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.reg{
    margin-top: 10px;
    box-shadow: rgba(94,132,139, 0.412) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}